<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <i class="bi bi-building" style="font-size: 3rem; color: #0d6efd;"></i>
          <h5 class="card-title mt-3">Central de Instituições de ensino</h5>
          <p class="card-text">Cadastre e atualize instituições de ensino.</p>
          <a href="/listainstituicao" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <i class="bi bi-person-badge" style="font-size: 3rem; color: #198754;"></i>
          <h5 class="card-title mt-3">Central de Funcionário</h5>
          <p class="card-text">Adicione ou edite dados de colaboradores.</p>
          <a href="/cadastro-funcionario" class="btn btn-success">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <i class="bi bi-image" style="font-size: 3rem; color: #dc3545;"></i>
          <h5 class="card-title mt-3">Central de Imagens</h5>
          <p class="card-text">Atualize imagens dos testes</p>
          <a href="/cadastro-imagem" class="btn btn-danger">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <i class="bi bi-newspaper" style="font-size: 3rem; color: #acacac;"></i>
          <h5 class="card-title mt-3">Relatórios</h5>
          <p class="card-text">Relatórios de dados armazenados</p>
          <a href="/relatorios" class="btn btn-secondary">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <i class="bi bi-qr-code" style="font-size: 3rem; color: #970a97;"></i>
          <h5 class="card-title mt-3">Relatórios</h5>
          <p class="card-text">Relatórios de dados armazenados</p>
          <a href="/qrcode" class="btn" style="background-color: #970a97; color: white; border: none;">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>