<div class="container-md">
  <div>
    <h5>Dashboard</h5>
    <div>
      <div class="container">
        <canvas id="meuGrafico" width="100px" height="40px"></canvas>
      </div>
    </div>
  </div>
  <div>
    
  </div>
</div>