<div>
  <table
    id="table"
    data-toggle="table"
    data-url="/listarinstituicao"
    data-pagination="true"
    data-search="true"
    class="table table-striped">
    <thead>
      <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="nome" data-sortable="true">Instituição</th>
        <th data-field="cidade" data-sortable="true">Cidade</th>
      </tr>
    </thead>
  </table>
</div>
