<div class="text-center py-5">
        <h1 class="mb-4">Bem-vindo ao Vocacionei</h1>
        <p class="mb-4">
          Clique no botão abaixo para iniciar o teste vocacional.
        </p>
        <a href="/cadastrar" class="btn btn-primary btn-lg">Realizar Teste</a>
      </div>

      <div class="container-md">
        <div>
          <div class="row">
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">REALISTA</h5>
                  <p class="card-text">
                    Pessoas práticas, que gostam de atividades manuais,
                    ferramentas e máquinas.
                  </p>
                  <a href="#" class="btn" style="background-color: rgb(212, 0, 0); color:white">Conheça</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">INVESTIGATIVO</h5>
                  <p class="card-text">
                    Pessoas analíticas, curiosas e que gostam de resolver
                    problemas e pesquisar.
                  </p>
                  <a href="#" class="btn" style="background-color: indigo; color:white">Conheça</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">ARTÍSTICO</h5>
                  <p class="card-text">
                    Pessoas criativas, expressivas e que valorizam
                    originalidade.
                  </p>
                  <a href="#" class="btn" style="background-color: rgb(223, 223, 0); color:black">Conheça</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">SOCIAL</h5>
                  <p class="card-text">
                    Pessoas que gostam de ajudar, ensinar, orientar ou cuidar de
                    outras pessoas.
                  </p>
                  <a href="#" class="btn" style="background-color: rgb(0, 112, 163); color:white">Conheça</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">EMPREENDEDOR</h5>
                  <p class="card-text">
                    Pessoas que gostam de liderar, persuadir e tomar decisões
                    para atingir objetivos.
                  </p>
                  <a href="#" class="btn" style="background-color: orangered; color:white">Conheça</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">CONVENCIONAL</h5>
                  <p class="card-text">
                    Pessoas organizadas, que gostam de trabalhar com dados,
                    sistemas e processos.
                  </p>
                  <a href="#" class="btn" style="background-color: green; color:white">Conheça</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>