<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="mb-4 text-center">Relatórios</h2>

    <div class="d-flex justify-content-around mt-4">
      <a href="/relatorio/alunos" class="btn btn-primary btn-lg">
        Relatório de Alunos
      </a>
      <a href="/relatorio/instituicoes" class="btn btn-success btn-lg">
        Relatório de Instituições
      </a>
    </div>
  </div>
</div>
