<div class="p-3">
  <div class="container;">
    <h2 id="pessoa"></h1>
  </div>
  <div class="container">
    <canvas id="meuGrafico" width="70px" height="20px"></canvas>
  </div>
</div>


  <script>
    const credibilidade = JSON.parse(localStorage.getItem("credibilidade"))
    const dadosBrutos = JSON.parse(localStorage.getItem("valores"));

    if(dadosBrutos == null)
    {
      //window.location.href = `http://localhost:8081/`
    }

    const dados = dadosBrutos.slice(6, dadosBrutos.length - 6);

    console.log(credibilidade)
    console.log(dados)
    
    let R = 0;
    let I = 0;
    let A = 0;
    let S = 0;
    let E = 0;
    let C = 0;

    for (const dado of dados)
    {
        valor = Number(dado.valor)
        switch (dado.tipo)
        {
          case "R":
            R = R + valor
            break; 
          case "I":
            I = I + valor
            break; 
          case "A":
            A = A + valor
            break; 
          case "S":
            S = S + valor
            break; 
          case "E":
            E = E + valor
            break; 
          case "C":
            C = C + valor
            break; 
        }
    }

    filtro = [];
    filtro.push({valor:R, tipo:"REALISTA"});
    filtro.push({valor:I, tipo:"INVESTIGADOR"});
    filtro.push({valor:A, tipo:"ARTISTICO"});
    filtro.push({valor:S, tipo:"SOCIAL"});
    filtro.push({valor:E, tipo:"EMPREENDEDOR"});
    filtro.push({valor:C, tipo:"CONVENCIONAL"});

    const maiorValor = Math.max(...filtro.map(r => r.valor));
    const maiores = filtro.filter(r => r.valor === maiorValor);
    let descricao = "Você é uma pessoa: ";


    for(maior in maiores)
    {
      if(0 == maiores.length-1)
      {
        descricao += maiores[maior].tipo
      }
      else
      {
        if(maior < maiores.length -1)
        {
          descricao += ", " + maiores[maior].tipo
        }
        else
        {
          descricao += " e " + maiores[maior].tipo
        }
      }
    }

    const pessoa = document.getElementById("pessoa");
    pessoa.textContent = descricao;

    const ctx = document.getElementById("meuGrafico").getContext("2d");
    const meuGrafico = new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["REALISTA","INVESTIGADOR","ARTISTICO","SOCIAL","EMPRENDEDOR","CONVENCIONAL"],
        datasets: [
          {
            label: null,
            data: [R,I,A,S,E,C],
            backgroundColor: "rgba(54, 162, 235, 0.6)",
            borderColor: "rgba(54, 162, 235, 1)",
            borderWidth: 1,
          }
        ],
      },
      options: {
        responsive: true,
        scales: {
          y: { beginAtZero: true, max: 75 },
        },
        plugins: {
          legend: { display: false }
        }
      },
    });

    //localStorage.clear();
  </script>